.vetTargetContainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    min-width: 300px;
    height: min-content;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.targetContent {
    display: flex;
    flex-direction: column;
}

.availableHours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .8rem;
}

.badge {
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    margin: .3rem .5rem;
    padding: .2rem .5rem;
    min-width: 50px;
    text-align: center;
    transition: all .2s linear;
}

.badge:hover {
   background-color: rgba(6, 128, 16, 0.7);
}