@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  gap: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: min(900px, 90%);
  min-width: 345px;
}

.calendar-container {
  width: max(400px, 50%);
  margin: auto;
  flex: 1.2;
}

.vet-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
